<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="scripts/home.js"></script>
<link rel="stylesheet" href="styles/home.css">
</head>
<body>





    <div class="centered-container">
    <div class="hero-text">Hermes</div>
      <img src="assets/wings.png" alt="Go">
    </div>


    <div class="centered-container">
      <table  class="styled-table">
        <thead>
          <th class="styled-table-header"> Link </th>
          <th class="styled-table-header"> Hits </th>
        </thead>
        <tbody id="hits">
        </tbody>
      </table>
    </div>
</div>




</body>
</html>
